/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source sans pro', 'Raleway';
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source sans pro', 'Raleway';
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container .top {
  display: flex;
  justify-content: space-between;
  background-color: #28590C;
  align-items: center;
  width: 800px;
  position: fixed;
  margin: 0 auto;
  z-index: 500;
}
.container .top .logo {
  display: flex;
  justify-content: flex-start;
  margin: 2%;
}
.container .top .logo h1 {
  color: #A1E6DF;
  font-size: 2rem;
}
.container .top .logo h1:hover {
  cursor: pointer;
  transform: rotateY(-360deg);
  transition-duration: 1000ms;
  color: #A588B3;
}
.container .top .nav {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 2%;
}
.container .top .nav a {
  margin: 2%;
  font-size: 1.5rem;
  color: #A1E6DF;
  text-decoration: none;
}
.container .copyright {
  text-align: center;
  background-color: #28590C;
  color: #A1E6DF;
  font-size: 1rem;
  padding: 1% 0;
}
.container .banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.container .banner .main-img {
  display: block;
  width: 100%;
}
.container .banner .callToAction {
  position: relative;
  bottom: 400px;
  width: 40%;
  line-height: 3rem;
  background-color: #97BE11;
  text-align: center;
  border-radius: 5px;
}
.container .banner .callToAction h4 {
  font-size: 2rem;
  color: white;
  padding: 5%;
}
.container .banner .callToAction .signup {
  color: #FFA820;
  background-color: #DFE9AC;
  width: 80%;
  font-size: 1.5rem;
  border: 1px solid #FFA820;
  border-radius: 5%;
  text-align: center;
  padding: 5%;
  font-weight: bold;
}
.container .banner .callToAction .signup:hover {
  cursor: pointer;
  color: #DFE9AC;
  background-color: #FFA820;
}
.container .about {
  margin: 5%;
}
.container .about h2 {
  text-align: center;
}
.container .about p {
  text-align: center;
}
.container .middle {
  display: flex;
  align-content: center;
}
.container .middle .feat {
  width: 100%;
  text-align: center;
}
.container .middle .feat i {
  font-size: 3rem;
  margin: 2% 0;
}
