// Footer Styles
.container{
   
    footer {
        margin: 0 auto;

    .socialMedia{
        background-color: @btn-bg;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        line-height: 5rem;
        padding: 1%;
        
        i {
            margin: 0 2%;
        }

    }
    
        .copyright{
            text-align: center;
            background-color: @main-bg-color;
            color: @main-h-color;
            font-size: 1rem;
            padding: 1% 0;
        }
    } // footer
}