// Footer Styles
.container{
    .copyright{
        text-align: center;
        background-color: @main-bg-color;
        color: @main-h-color;
        font-size: 1rem;
        padding: 1% 0;
    }
}