// Home Content

.container{
      
    .banner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        .main-img {
            display: block;
            width: 100%;
            
        }

        .callToAction{
            position: relative;
            bottom: 400px;
            width: 25%;
            line-height: 2rem;
            background-color: #97BE11;
            text-align: center;
            border-radius: 5px;
            
            
            h4{
                font-size: 1.5rem;
                color:white;
                margin: 1% 0;
                padding: 2%;
            }

            .signup {
                .btn-format(80%, 5%);
                margin: 2% 0;
                padding: 2%;
            }

        }

    }

// row, figure+ caption
// banner, main-img + cta

} //closes container