// Variables

// Color pointers


// Color Vars
@main-bg-color:#28590C;
@main-h-color: #A1E6DF;
@standout-col: #FFA820;

@btn-bg: #DFE9AC;


// Mobile var

@phone: ~"(max-width: 500px)";
@tablet: ~"(min-width: 800px)";




